x-app: &app
  build:
    context: .
    target: hyku-web
    cache_from:
      - ghcr.io/notch8/adventist_knapsack:latest
    args:
      BUILDKIT_INLINE_CACHE: 1
      APP_PATH: ./hyrax-webapp
  image: ghcr.io/notch8/adventist_knapsack:${TAG:-latest}
  env_file:
    - .env
    - .env.development
  environment:
    # This line is what makes the knapsack include use the local code instead of the remote gem
    - AUXILIARY_QUEUE_TENANTS="sdapi"
    - AWS_REGION=us-east-1
    - AWS_S3_BUCKET=space-stone-production-preprocessedbucketf21466dd-15sun4xy658nh
    - BUNDLE_LOCAL__HYKU_KNAPSACK=/app/samvera
    - BUNDLE_DISABLE_LOCAL_BRANCH_CHECK=true
    - GOOD_JOB_CLEANUP_DISCARDED_JOBS=false
    - GOOD_JOB_CLEANUP_INTERVAL_SECONDS=86400
    - GOOD_JOB_CLEANUP_PRESERVED_JOBS_BEFORE_SECONDS_AGO=604800
    - HYRAX_ACTIVE_JOB_QUEUE=good_job
  volumes:
    # volumes are duplicated because we need to mount app/samvera instead of app/samvera/hyrax-webapp
    - node_modules:/app/samvera/hyrax-webapp/node_modules:cached
    - uploads:/app/samvera/hyrax-webapp/public/uploads:cached
    - assets:/app/samvera/hyrax-webapp/public/assets:cached
    - cache:/app/samvera/hyrax-webapp/tmp/cache:cached
    - .:/app/samvera

x-app-worker: &app-worker
  <<: *app
  extends:
    file: hyrax-webapp/docker-compose.yml
    service: worker
  build:
    context: .
    target: hyku-worker
    cache_from:
      - ghcr.io/notch8/adventist_knapsack/worker:latest
    args:
      BUILDKIT_INLINE_CACHE: 1
      APP_PATH: ./hyrax-webapp
  environment:
    - HYRAX_FLEXIBLE=false
  image: ghcr.io/notch8/adventist_knapsack/worker:${TAG:-latest}
  # Uncomment command to access container with out starting bin/worker. Useful for debugging or updating Gemfile.lock
  # command: sleep infinity

volumes:
  assets:
  cache:
  db:
  fcrepo:
  node_modules:
  redis:
  solr:
  uploads:
  zk:
  zoo:

networks:
  default:
    name: stackcar

services:
  adminer:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: adminer

  zoo:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: zoo

  solr:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: solr

  fcrepo:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: fcrepo

  fits:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: fits

  db:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: db

  web:
    <<: *app
    environment:
      - HYRAX_FLEXIBLE=false
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: web

  worker:
    <<: *app-worker

  worker_aux:
    <<: *app-worker
    environment:
      - AUX_WORKER="true"
      - AUXILIARY_QUEUE_TENANTS="sdapi"
      - AWS_REGION=us-east-1
      - AWS_S3_BUCKET=space-stone-production-preprocessedbucketf21466dd-15sun4xy658nh
      - GOOD_JOB_CLEANUP_DISCARDED_JOBS=false
      - GOOD_JOB_CLEANUP_INTERVAL_SECONDS=86400
      - GOOD_JOB_CLEANUP_PRESERVED_JOBS_BEFORE_SECONDS_AGO=604800
      - HYRAX_ACTIVE_JOB_QUEUE=good_job

  check_volumes:
    <<: *app
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: check_volumes

  initialize_app:
    <<: *app
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: initialize_app
    command:
      - >
        /app/samvera/bin/solrcloud-upload-configset.sh /app/samvera/hyrax-webapp/solr/conf &&
        /app/samvera/bin/solrcloud-assign-configset.sh &&
        SOLR_COLLECTION_NAME=hydra-test /app/samvera/bin/solrcloud-assign-configset.sh &&
        bundle &&
        /app/samvera/bin/db-migrate-seed.sh

  redis:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: redis

  chrome:
    extends:
      file: hyrax-webapp/docker-compose.yml
      service: chrome
